@CHARSET "UTF-8";

.leftFloat {
	float: left;
	margin-right: 20px;
	display: inline;
}

input, label {
    display:block;
}
body {
	font-family: 'selfFont', 'Open Sans', sans-serif;
}

.inputContainer{
	display: inline-block;
}